<nav class="navbar navbar-default" role="navigation">
  <div class="top-bar container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- Known -->
        <li class='filter-updater'
            data-source='known'
            data-value='toggle'
            data-id='null'
            style="cursor: pointer;"
            id='known-filter-li'>
          <a id='known-filter'>
            <i class='fa fa-square-o fa-lg'></i> Known
          </a>
        </li>
        <!-- Unknown -->
        <li class='filter-updater'
            data-source='unknown'
            data-value='toggle'
            data-id='null'
            id='unknown-filter-li'>
          <a>
          <span style="cursor: pointer;"
                id='unknown-filter'>
            <i class='fa fa-square-o fa-lg'></i> Unknown
          </span>
         </a>
        </li>
        <!-- Unread -->
        <li class='filter-updater'
            data-source='unread'
            data-value='toggle'
            data-id='null'
            id='unread-filter-li'>
          <a>
          <span style="cursor: pointer;"
                id='unread-filter'>
            <i class='fa fa-square-o fa-lg'></i> Unread
          </span>
          </a>
        </li>
        <!-- Tags Dropdown -->
        <li class="dropdown" id='test-id'>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tags <span class="caret"></span></a>
            <%= render partial: "users/tags_filter_dropdown" %>
        </li>
        <!-- Organization Dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Organization <span class="caret"></span></a>
            <%= render partial: "users/organization_filter_dropdown" %>
        </li>
      </ul>

      <!-- Search Bar -->
      <form class="navbar-form navbar-right"
            id="search-bar-form"
            role="search">
        <div class="form-group">
          <input name="search_text"
                 type="text"
                 class="form-control"
                 placeholder="Search"
                 data-source='search'
                 data-value=''
                 data-id='null'
                 id="search-filter">
        </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
