# This code is copied and pasted onto comments/create.js.coffee and tag_histories/update.js.coffee because I don't know how to call this function from those places. So if you update this, update those . . . :(
updateKnownUnknownCounts = ->
  known_count = 0
  unknown_count = 0
  $("#dataTable tbody tr").each ->
    tags_string = $(this).find('td#tags').html()
    tags_string = tags_string.replace("<span class=\"label label-green\">New</span>","")
    console.log JSON.stringify(tags_string)
    has_tags = tags_string isnt ""
    no_tags = tags_string is ""
    has_comments = $(this).find('td#comments span.comment-number').html() isnt "0"
    no_comments = $(this).find('td#comments span.comment-number').html() is "0"

    unknown_count += 1 if no_tags and no_comments
    known_count += 1 if has_tags or has_comments

  $('#known-anchor').empty().append( String(known_count) + " Known")
  $('#unknown-anchor').empty().append( String(unknown_count) + " Unknown")

$(document).ready(updateKnownUnknownCounts)

#Handle click on any member
$ ->
  $("a[data-id]").click (e) ->
    window.ldsId = $(this).data("id")
    window.age = $(this).data("age")
    window.gender = $(this).data("gender")
    window.spokenName = $(this).data("spoken-name")
    getMemberModal(ldsId)
    getMemberInfo(ldsId)
    getTags(ldsId)
    return false

getMemberModal = (ldsId) ->
  $.get "/member_modal", lds_id: ldsId
  getMember(ldsId)

getMember = (ldsId) ->
  $.get "/members/", lds_id: ldsId, getMemberId, 'json'

getMemberId = (response) ->
  window.memberId = response.id

getMemberInfo = (ldsId) ->
  $.get "/member_info", lds_id: ldsId, 'json'

getTags = (ldsId) ->
  $.get "/member_tags", lds_id: ldsId, 'json'
