<div class="tag-history">
  <div class='row'>
      <% if member.move_type == "moved-in"%>
        <div class='col-xs-2 col-sm-1'>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x light"></i>
            <i class="fa fa-home fa-stack-1x dark"></i>
          </span>
        </div>
        <div class='col-xs-10 col-sm-11 vcenter'>
          <strong>Moved in</strong>
          <%= time_ago_in_words(member.moved_in) %> ago
        </div>
      <% else %>
        <div class='col-xs-2 col-sm-1'>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x light"></i>
            <i class="fa fa-birthday-cake fa-stack-1x dark"></i>
          </span>
        </div>
        <div class='col-xs-10 col-sm-11 vcenter'>
          <strong>Born</strong>
          <%= time_ago_in_words(member.moved_in) %> ago
        </div>
      <% end %>
  </div>
</div>
